.bodyContainer {  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu main fodder";
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: antiquewhite;
    padding: 5px;
    
}


body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
display: grid;
width: 80%;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-column-gap: 0px;
grid-row-gap: 10px;
padding: 5px;
}

#warning{
    color: red;
}

.div1 { 
grid-area: 1 / 1 / 2 / 6; 
border-bottom: 2px dashed black;
}


.div2 { 
grid-area: 2 / 1 / 3 / 6;
}

.div3 { grid-area: 3 / 1 / 4 / 6; }
.div4 { grid-area: 4 / 1 / 5 / 6; }
.div5 { grid-area: 5 / 1 / 6 / 6; }

